.container[data-v-3c1565a6] {
  background-color: bisque;
}
.container[data-v-3c1565a6] h2[data-v-3c1565a6] {
  width: 100%;
  font-size: 15px;
  color: rgba(19, 18, 51, 0.1294117647);
  background-color: linen;
}
