{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false
        // "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": true, // 默认 true
        "corejs": 3
      }
    ]
  ]
}
