.list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid #000; */
}

.list-item-odd {
  width: 100%;
  background-color: rgb(229 178 38);
}

.list-item-even {
  background-color: cadetblue;
}
